In [9]:
#Importing the required libraries.
import pandas as pd #for dataframes and reading csv files.
import numpy as np # for math operations(sqrt)
import matplotlib.pyplot as plt #for plotting the graphs


#make the axes white
#params = {"ytick.color" : "w",
#          "xtick.color" : "w",
#          "axes.labelcolor" : "w",
#          "axes.edgecolor" : "w",
#        "axes.titlecolor":"w"}
#plt.rcParams.update(params)

In [10]:
file_day_od="data/day_od.csv" #directory of the file(file_path)
#csv (comma seperated values, delimiter is comma)
data_day_od=pd.read_csv(file_day_od,sep=",",encoding='utf-16', header=0)
                       
#quoting=2,quotechar='"',escapechar='\r' )
#comment: explicit header=0 to replace column names;  quoting=2 "Non-Numerical"; es

#seperate the columns by name
headerName=["MONTH","DOW","ORIGIN","DESTINATION","CUST_CLASS","COD_COUNTRY","COD_PRO","PRO_COM","FLOW"]
data_day_od.columns=headerName
day_od=pd.DataFrame(data_day_od)#dataFrame of the file(can be read more easily than csv)

day_od.head()

data_day_od

,MONTH,DOW,ORIGIN,DESTINATION,CUST_CLASS,COD_COUNTRY,COD_PRO,PRO_COM,FLOW
0,Marzo,Domenica,108,300,visitor,222,28.0,-999.0,493
1,Maggio,Lunedì,300,101,visitor,222,93.0,-999.0,58
2,Febbraio,Sabato,108,207,visitor,222,28.0,-999.0,39
3,Aprile,Venerdì,109,121,resident,222,28.0,28060.0,106
4,Maggio,Giovedì,300,120,visitor,222,28.0,28103.0,136
...,...,...,...,...,...,...,...,...,...
193496,Febbraio,Martedì,205,120,Altro,-999,-999.0,-999.0,32
193497,Marzo,Giovedì,214,115,Altro,-999,-999.0,-999.0,32
193498,Febbraio,Giovedì,124,121,Altro,-999,-999.0,-999.0,40
193499,Aprile,Domenica,110,300,visitor,222,28.0,28086.0,36
193500,Aprile,Lunedì,124,300,visitor,222,69.0,-999.0,32

In [11]:
# Getting DataFrame for distinct_users_day.csv
file_distinct_users_day="data/distinct_users_day.csv"
data_distinct_users_day=pd.read_csv(file_distinct_users_day,sep=",",encoding="latin-1")
                                    #,quoting=3,escapechar="\"",encoding="latin-1")
distinct_users_day=pd.DataFrame(data_distinct_users_day)
#distinct_users_day.head()

In [12]:
# Getting DataFrame for codici_istat_comune.csv
file_codici_istat_comune="data/codici_istat_comune.csv"
data_codici_istat_comune=pd.read_csv(file_codici_istat_comune,sep=",",delimiter=',',header=0,quoting=3,escapechar="\"",encoding="latin-1")
codici_istat_comune=pd.DataFrame(data_codici_istat_comune)
codici_istat_comune

      COD_PRO  PRO_COM           COMUNE  COMUNE_CAPOLUOGO
0           1     1001            Agliè                 0
1           1     1002          Airasca                 0
2           1     1003     Ala di Stura                 0
3           1     1004  Albiano d'Ivrea                 0
4           1     1005  Alice Superiore                 0
...       ...      ...              ...               ...
7950      111   111104       Villasalto                 0
7951      111   111105      Villasimius                 0
7952      111   111106         Villasor                 0
7953      111   111107    Villaspeciosa                 0
7954     -999     -999            Altro                 0

[7955 rows x 4 columns]

In [13]:
# Getting DataFrame for codici_istat_provincia.csv
file_codici_istat_provincia="data/codici_istat_provincia.csv"
data_codici_istat_provincia=pd.read_csv(file_codici_istat_provincia,sep=",",header=0,quoting=3,escapechar="\"",encoding="latin-1")
codici_istat_provincia=pd.DataFrame(data_codici_istat_provincia)
codici_istat_provincia

     COD_REG  COD_PRO     PROVINCIA PROV_SIGLA
0          1        1        Torino         TO
1          1        2      Vercelli         VC
2          1        3        Novara         NO
3          1        4         Cuneo         CN
4          1        5          Asti         AT
..       ...      ...           ...        ...
103       20       91         Nuoro         NU
104       20       92      Cagliari         CA
105       20       95      Oristano         OR
106       20      111  Sud Sardegna         SU
107     -999     -999         Altro         ND

[108 rows x 4 columns]

In [14]:
# Getting DataFrame for codici_nazioni.csv
import csv
file_codici_nazioni="data/codici_nazioni.csv"
data_codici_nazioni=pd.read_csv(file_codici_nazioni,delimiter=',',header=0,quoting=2, 
                                error_bad_lines=True,encoding="utf-16",quotechar = '"',escapechar='\r')
codici_nazioni=pd.DataFrame(data_codici_nazioni)
codici_nazioni[108:112]

     COD_COUNTRY                                    COUNTRY_NAME_IT
108        658.0  Isola di Sant'Elena, Ascension e Tristan de Cugna
109        732.0                                           Colombia
110        740.0                                            Ecuador
111        746.0                                           Suriname

In [15]:
#Getting DataFrame for veneto.txt
file_veneto="data/Veneto.txt"
data_veneto=pd.read_csv(file_veneto,delimiter=';',header=0,quoting=0,error_bad_lines=False,encoding="Latin-1")
veneto=pd.DataFrame(data_veneto)
veneto

                  Name   Origine Destinazione Total_Minu Total_Mete
0         1042 - 23059   1042,00     23059,00     129,69  243790,98
1         1042 - 23022   1042,00     23022,00     131,86  246794,26
2         1042 - 23082   1042,00     23082,00     133,84  253806,62
3         1042 - 23083   1042,00     23083,00     136,44  252084,96
4         1042 - 23043   1042,00     23043,00     136,47  251192,38
...                ...       ...          ...        ...        ...
4241295  62067 - 25015  62067,00     25015,00     482,12  884264,20
4241296  62067 - 25014  62067,00     25014,00     482,59  875876,53
4241297  62067 - 25052  62067,00     25052,00     484,98  888212,30
4241298  62067 - 25044  62067,00     25044,00     485,53  883640,08
4241299  62067 - 25030  62067,00     25030,00     493,59  889017,90

[4241300 rows x 5 columns]

## POINT 4

 Study of the visitors' fluxes: let's assume to be asked to provide indications of how to invest resources to improve the mobility toward Padova. Defined the three main directions of visitors and commuter getting to Padova by the Italian highways (sud: A13 toward Bologna-Roma / west: A4 toward Milano-Torino / north-east: A4 toward Venice-Trieste), evaluate which of the three directions has to be prioritized:
 1. Consider a simplified case involving only the mid-range mobility, based on the number of visitors/commuters from the nearby regions only
 * Consider the provinces located on the three directions that are mostly contributing to the flow of weekend visitors and working daily commuters by performing a more detailed study of the fluxes based on the day of the week
 * _[OPEN]_ Use the data available to provide what you believe is the best possible answer

In [16]:
def codici(codici_istat_provincia, capoluogo):
    cod_reg=codici_istat_provincia[codici_istat_provincia['PROVINCIA'] == capoluogo]['COD_REG'].values[0] #codice comune di Padova
    province=codici_istat_provincia[codici_istat_provincia['COD_REG'] == cod_reg]
    cod_all_prov=province['COD_PRO'].values[:]
    name_all_prov=province['PROVINCIA'].values[:]
    return cod_reg, province, cod_all_prov, name_all_prov



#Veneto 
cod_reg_veneto, info_veneto, cod_all_prov_veneto, name_prov_veneto=codici(codici_istat_provincia, 'Venezia')
#print(prov_veneto)
print("Region code of  Veneto: ",cod_reg_veneto)
print("Provinces of Veneto: ", name_prov_veneto)
print("Province codes of Veneto: ", cod_all_prov_veneto)
print("Code of Padua ", codici_istat_provincia[codici_istat_provincia['PROVINCIA']=='Padova']['COD_PRO'].values[0])
print("\n")

#Lombardia
cod_reg_lombardia, info_lombardia, cod_all_prov_lombardia, name_prov_lombardia=codici(codici_istat_provincia, 'Milano')
#print(province_lombardia)
print("Region code of  Lombardia: ",cod_reg_lombardia)
print("Provinces of Lombardia: ", name_prov_lombardia)
print("Province codes of  Lombardia: ",cod_all_prov_lombardia)
print("\n")


#Emilia Romagna
cod_reg_er, info, cod_all_prov_er, name_prov_er=codici(codici_istat_provincia, 'Bologna')
#print(province_veneto)
print("Region code of Emilia Romagna: ",cod_reg_er)
print("Provinces of Emilia Romagna: ", name_prov_er)
print("Province codes of dell' Emilia Romagna: ", cod_all_prov_er)
print("\n")

#Friuli Venezia Giulia
cod_reg_friuli, info_friuli, cod_all_prov_friuli, name_prov_friuli=codici(codici_istat_provincia, 'Trieste')
print(info_friuli)
print("Region code of Friuli Venezia Giulia: ", cod_reg_friuli)
print("Provinces of Friuli Venezia Giulia: ", name_prov_friuli)
print("Province codes of  Friuli Venezia Giulia: ", cod_all_prov_friuli)
print("\n")


#POINT 4.1 : study of the fluxes of the nearby regions
data_day_od


def flow_regions(data_day_od, cod_all_prov):
    flow_sum=data_day_od.groupby([data_day_od['COD_PRO'].isin(cod_all_prov)])['FLOW'].sum()
    return flow_sum[1] #true is the second one 


#Veneto #per averlo per ora non utile ai fine dell'analisi
flow_veneto=flow_regions(data_day_od, cod_all_prov_veneto)
print("Flow Veneto: ",flow_veneto)

#Lombardia
flow_lombardia=flow_regions(data_day_od, cod_all_prov_lombardia)
print("Flow Lombardia: ",flow_lombardia)

#Emilia Romagna
flow_er=flow_regions(data_day_od, cod_all_prov_er)
print("Flow Emilia Romagna: ",flow_er)

#Friuli Venezia Giulia
flow_friuli=flow_regions(data_day_od, cod_all_prov_friuli)
print("Flow Friuli Venezia Giulia: ",flow_friuli)


#POINT 4.2 : Flow of weekend visitors and working daily commuters:
#flux based on the day of the week, mostly contributing provinces located on the three directions 

#DATASET REGIONI DI INTERESSE

def data_province(data_day_od, cod_all_prov):
    data_province=data_day_od[data_day_od['COD_PRO'].isin(cod_all_prov)]
    return data_province


data_prov_lombardia=data_province(data_day_od, cod_all_prov_lombardia)
data_prov_er=data_province(data_day_od, cod_all_prov_er)
data_prov_friuli=data_province(data_day_od, cod_all_prov_friuli)
data_prov_veneto=data_province(data_day_od, cod_all_prov_veneto) #TOGLIERE PADOVA



#SUM FLUX PER PROVINCIA: SELEIONE DELLE PROVINCE CHE CONTRIBUISCONO MAGGIORMENTE 

def flow_province(data_province):
    flow_province=data_province.groupby('COD_PRO').FLOW.sum()
    flow_sorted=flow_province.sort_values(ascending=False)
    #flow_selected=flow_sorted.loc[flow_sorted[:] >= 1e4]
    flow_selected= flow_sorted.head(n=3).reset_index()
    cod_pro_selected=flow_selected['COD_PRO'].values[:]
    return flow_selected, cod_pro_selected


flow_province_lombardia, cod_pro_selected_lombardia=flow_province(data_prov_lombardia)
print("Lombardia \n",flow_province_lombardia) 
print("Code selected provinces of Lombardia \n",cod_pro_selected_lombardia) 
print("\n")

flow_province_er, cod_pro_selected_er=flow_province(data_prov_er)
print("Emilia Romagna \n",flow_province_er)  #codici provincia non chiamabili
print("Code selected provinces of Emilia Romagna \n",cod_pro_selected_er) 
print("\n")


flow_province_friuli, cod_pro_selected_friuli=flow_province(data_prov_friuli)
print("Friuli Venezia Giulia \n",flow_province_friuli) 
print("Code selected provinces of Friuli Venezia Giulia \n",cod_pro_selected_friuli) 
print("\n")

#####flow_province_veneto=flow_province(data_prov_veneto)
#print("Veneto \n",flow_province_veneto) 


#Sum flux per i giorni della settimana in base alle province scelte
def flow_days(data_province, cod_pro_selected):
    data_province_selected=data_province[data_day_od['COD_PRO'].isin(cod_pro_selected)] #PROBLEMI!!!
    print(data_province_selected)
    flow_days=data_province_selected.groupby(['DOW', 'COD_PRO']).FLOW.sum().reset_index()
    #flow_sorted=flow_days['FLOW'].sort_values(ascending=False)
    #flow_selected=flow_sorted.loc[flow_sorted[:] >= 1e4]
    #flow_selected= flow_sorted.head(n=3)
    return flow_days

flow_days_lombardia=flow_days(data_prov_lombardia,cod_pro_selected_lombardia)
print(flow_days_lombardia)
print(flow_days_lombardia.sort_values(by='FLOW',ascending=False))
print(flow_days_lombardia.sort_values(by='COD_PRO',ascending=False))
print("\n")

#ordine per i giorni della settimana
cats = ['Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato', 'Domenica']
flow_days_lombardia['DOW'] = pd.Categorical(flow_days_lombardia['DOW'], categories=cats, ordered=True)
flow_days_lombardia_days = flow_days_lombardia.sort_values(['DOW','COD_PRO'])

print("laa \n",flow_days_lombardia_days)


#nei weekends

Region code of  Veneto:  5
Provinces of Veneto:  ['Verona' 'Vicenza' 'Belluno' 'Treviso' 'Venezia' 'Padova' 'Rovigo']
Province codes of Veneto:  [23 24 25 26 27 28 29]
Code of Padua  28


Region code of  Lombardia:  3
Provinces of Lombardia:  ['Varese' 'Como' 'Sondrio' 'Milano' 'Bergamo' 'Brescia' 'Pavia' 'Cremona'
 'Mantova' 'Lecco' 'Lodi' 'Monza e della Brianza']
Province codes of  Lombardia:  [ 12  13  14  15  16  17  18  19  20  97  98 108]


Region code of Emilia Romagna:  8
Provinces of Emilia Romagna:  ['Piacenza' 'Parma' "Reggio nell'Emilia" 'Modena' 'Bologna' 'Ferrara'
 'Ravenna' 'Forlì-Cesena' 'Rimini']
Province codes of dell' Emilia Romagna:  [33 34 35 36 37 38 39 40 99]


    COD_REG  COD_PRO  PROVINCIA PROV_SIGLA
30        6       30      Udine         UD
31        6       31    Gorizia         GO
32        6       32    Trieste         TS
33        6       93  Pordenone         PN
Region code of Friuli Venezia Giulia:  6
Provinces of Friuli Venezia Giulia:  ['Udine' 'Gorizia' 'Trieste' 'Pordenone']
Province codes of  Friuli Venezia Giulia:  [30 31 32 93]


Flow Veneto:  20213829
Flow Lombardia:  186815
Flow Emilia Romagna:  89346
Flow Friuli Venezia Giulia:  80930
Lombardia
    COD_PRO    FLOW
0     15.0  114550
1     17.0   20032
2     20.0   18611
Code selected provinces of Lombardia
 [15. 17. 20.]


Emilia Romagna
    COD_PRO   FLOW
0     37.0  39719
1     38.0  29997
2     36.0   7948
Code selected provinces of Emilia Romagna
 [37. 38. 36.]


Friuli Venezia Giulia
    COD_PRO   FLOW
0     30.0  39633
1     93.0  34245
2     32.0   6620
Code selected provinces of Friuli Venezia Giulia
 [30. 93. 32.]


           MONTH        DOW  ORIGIN  DESTINATION CUST_CLASS  COD_COUNTRY  \
12        Maggio  Mercoledì     300          101    visitor          222
55      Febbraio    Martedì     300          118    visitor          222
58        Aprile  Mercoledì     106          126    visitor          222
61        Aprile    Martedì     107          300    visitor          222
133       Aprile   Domenica     300          118    visitor          222
...          ...        ...     ...          ...        ...          ...
193316  Febbraio   Domenica     105          300    visitor          222
193328    Aprile  Mercoledì     108          300    visitor          222
193331    Maggio    Giovedì     300          120    visitor          222
193438    Maggio  Mercoledì     125          300    visitor          222
193481    Maggio    Martedì     109          300    visitor          222

        COD_PRO  PRO_COM  FLOW
12         20.0   -999.0    45
55         15.0   -999.0    65
58         15.0   -999.0    33
61         15.0   -999.0    36
133        15.0  15146.0    86
...         ...      ...   ...
193316     15.0   -999.0    48
193328     20.0   -999.0    36
193331     17.0   -999.0    32
193438     15.0   -999.0    32
193481     15.0   -999.0    36

[2857 rows x 9 columns]
          DOW  COD_PRO   FLOW
0    Domenica     15.0  17602
1    Domenica     17.0   1794
2    Domenica     20.0   2147
3     Giovedì     15.0  15702
4     Giovedì     17.0   2890
5     Giovedì     20.0   2714
6      Lunedì     15.0  14252
7      Lunedì     17.0   3192
8      Lunedì     20.0   3058
9     Martedì     15.0  14569
10    Martedì     17.0   3135
11    Martedì     20.0   2880
12  Mercoledì     15.0  14592
13  Mercoledì     17.0   3717
14  Mercoledì     20.0   2977
15     Sabato     15.0  20455
16     Sabato     17.0   2356
17     Sabato     20.0   1977
18    Venerdì     15.0  17378
19    Venerdì     17.0   2948
20    Venerdì     20.0   2858
          DOW  COD_PRO   FLOW
15     Sabato     15.0  20455
0    Domenica     15.0  17602
18    Venerdì     15.0  17378
3     Giovedì     15.0  15702
12  Mercoledì     15.0  14592
9     Martedì     15.0  14569
6      Lunedì     15.0  14252
13  Mercoledì     17.0   3717
7      Lunedì     17.0   3192
10    Martedì     17.0   3135
8      Lunedì     20.0   3058
14  Mercoledì     20.0   2977
19    Venerdì     17.0   2948
4     Giovedì     17.0   2890
11    Martedì     20.0   2880
20    Venerdì     20.0   2858
5     Giovedì     20.0   2714
16     Sabato     17.0   2356
2    Domenica     20.0   2147
17     Sabato     20.0   1977
1    Domenica     17.0   1794
          DOW  COD_PRO   FLOW
20    Venerdì     20.0   2858
11    Martedì     20.0   2880
2    Domenica     20.0   2147
17     Sabato     20.0   1977
5     Giovedì     20.0   2714
14  Mercoledì     20.0   2977
8      Lunedì     20.0   3058
19    Venerdì     17.0   2948
16     Sabato     17.0   2356
13  Mercoledì     17.0   3717
10    Martedì     17.0   3135
1    Domenica     17.0   1794
7      Lunedì     17.0   3192
4     Giovedì     17.0   2890
12  Mercoledì     15.0  14592
9     Martedì     15.0  14569
15     Sabato     15.0  20455
6      Lunedì     15.0  14252
18    Venerdì     15.0  17378
3     Giovedì     15.0  15702
0    Domenica     15.0  17602


laa
           DOW  COD_PRO   FLOW
6      Lunedì     15.0  14252
7      Lunedì     17.0   3192
8      Lunedì     20.0   3058
9     Martedì     15.0  14569
10    Martedì     17.0   3135
11    Martedì     20.0   2880
12  Mercoledì     15.0  14592
13  Mercoledì     17.0   3717
14  Mercoledì     20.0   2977
3     Giovedì     15.0  15702
4     Giovedì     17.0   2890
5     Giovedì     20.0   2714
18    Venerdì     15.0  17378
19    Venerdì     17.0   2948
20    Venerdì     20.0   2858
15     Sabato     15.0  20455
16     Sabato     17.0   2356
17     Sabato     20.0   1977
0    Domenica     15.0  17602
1    Domenica     17.0   1794
2    Domenica     20.0   2147

<ipython-input-16-62b7465ca522>:121: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_province_selected=data_province[data_day_od['COD_PRO'].isin(cod_pro_selected)] #PROBLEMI!!!