In [11]:
#Importing the required libraries.
import pandas as pd #for dataframes and reading csv files.
import numpy as np # for math operations(sqrt)
import matplotlib.pyplot as plt #for plotting the graphs


#make the axes white
#params = {"ytick.color" : "w",
#          "xtick.color" : "w",
#          "axes.labelcolor" : "w",
#          "axes.edgecolor" : "w",
#        "axes.titlecolor":"w"}
#plt.rcParams.update(params)

In [2]:
file_day_od="data/day_od.csv" #directory of the file(file_path)
#csv (comma seperated values, delimiter is comma)
data_day_od=pd.read_csv(file_day_od,sep=",",encoding='utf-16', header=0)
                       
#quoting=2,quotechar='"',escapechar='\r' )
#comment: explicit header=0 to replace column names;  quoting=2 "Non-Numerical"; es

#seperate the columns by name
headerName=["MONTH","DOW","ORIGIN","DESTINATION","CUST_CLASS","COD_COUNTRY","COD_PRO","PRO_COM","FLOW"]
data_day_od.columns=headerName
day_od=pd.DataFrame(data_day_od)#dataFrame of the file(can be read more easily than csv)

day_od.head()

data_day_od

,MONTH,DOW,ORIGIN,DESTINATION,CUST_CLASS,COD_COUNTRY,COD_PRO,PRO_COM,FLOW
0,Marzo,Domenica,108,300,visitor,222,28.0,-999.0,493
1,Maggio,Lunedì,300,101,visitor,222,93.0,-999.0,58
2,Febbraio,Sabato,108,207,visitor,222,28.0,-999.0,39
3,Aprile,Venerdì,109,121,resident,222,28.0,28060.0,106
4,Maggio,Giovedì,300,120,visitor,222,28.0,28103.0,136
...,...,...,...,...,...,...,...,...,...
193496,Febbraio,Martedì,205,120,Altro,-999,-999.0,-999.0,32
193497,Marzo,Giovedì,214,115,Altro,-999,-999.0,-999.0,32
193498,Febbraio,Giovedì,124,121,Altro,-999,-999.0,-999.0,40
193499,Aprile,Domenica,110,300,visitor,222,28.0,28086.0,36
193500,Aprile,Lunedì,124,300,visitor,222,69.0,-999.0,32

In [3]:
# Getting DataFrame for distinct_users_day.csv
file_distinct_users_day="data/distinct_users_day.csv"
data_distinct_users_day=pd.read_csv(file_distinct_users_day,sep=",",encoding="latin-1")
                                    #,quoting=3,escapechar="\"",encoding="latin-1")
distinct_users_day=pd.DataFrame(data_distinct_users_day)
distinct_users_day.head()

         DOW CUST_CLASS  COD_COUNTRY  COD_PRO   PRO_COM  VISITORS
0  Mercoledì    visitor        222.0     35.0   35033.0       968
1     Lunedì    visitor        222.0     22.0   22098.0        64
2   Domenica    visitor        222.0     52.0   52032.0       516
3    Giovedì    visitor        222.0    108.0  108009.0       128
4    Giovedì    visitor        222.0     29.0   29048.0       512

In [37]:
# Getting DataFrame for codici_istat_comune.csv
file_codici_istat_comune="data/codici_istat_comune.csv"
data_codici_istat_comune=pd.read_csv(file_codici_istat_comune,sep=",",delimiter=',',header=0,quoting=3,escapechar="\"",encoding="latin-1")
codici_istat_comune=pd.DataFrame(data_codici_istat_comune)
codici_istat_comune

      COD_PRO  PRO_COM           COMUNE  COMUNE_CAPOLUOGO
0           1     1001            Agliè                 0
1           1     1002          Airasca                 0
2           1     1003     Ala di Stura                 0
3           1     1004  Albiano d'Ivrea                 0
4           1     1005  Alice Superiore                 0
...       ...      ...              ...               ...
7950      111   111104       Villasalto                 0
7951      111   111105      Villasimius                 0
7952      111   111106         Villasor                 0
7953      111   111107    Villaspeciosa                 0
7954     -999     -999            Altro                 0

[7955 rows x 4 columns]

In [5]:
# Getting DataFrame for codici_istat_provincia.csv
file_codici_istat_provincia="data/codici_istat_provincia.csv"
data_codici_istat_provincia=pd.read_csv(file_codici_istat_provincia,sep=",",header=0,quoting=3,escapechar="\"",encoding="latin-1")
codici_istat_provincia=pd.DataFrame(data_codici_istat_provincia)
codici_istat_provincia

     COD_REG  COD_PRO     PROVINCIA PROV_SIGLA
0          1        1        Torino         TO
1          1        2      Vercelli         VC
2          1        3        Novara         NO
3          1        4         Cuneo         CN
4          1        5          Asti         AT
..       ...      ...           ...        ...
103       20       91         Nuoro         NU
104       20       92      Cagliari         CA
105       20       95      Oristano         OR
106       20      111  Sud Sardegna         SU
107     -999     -999         Altro         ND

[108 rows x 4 columns]

In [6]:
# Getting DataFrame for codici_nazioni.csv
import csv
file_codici_nazioni="data/codici_nazioni.csv"
data_codici_nazioni=pd.read_csv(file_codici_nazioni,delimiter=',',header=0,quoting=2, 
                                error_bad_lines=True,encoding="utf-16",quotechar = '"',escapechar='\r')
codici_nazioni=pd.DataFrame(data_codici_nazioni)
codici_nazioni[108:112]

     COD_COUNTRY                                    COUNTRY_NAME_IT
108        658.0  Isola di Sant'Elena, Ascension e Tristan de Cugna
109        732.0                                           Colombia
110        740.0                                            Ecuador
111        746.0                                           Suriname

In [13]:
#Getting DataFrame for veneto.txt
file_veneto="data/Veneto.txt"
data_veneto=pd.read_csv(file_veneto,delimiter=';',header=0,quoting=0,error_bad_lines=False,encoding="Latin-1")
veneto=pd.DataFrame(data_veneto)
veneto

                  Name   Origine Destinazione Total_Minu Total_Mete
0         1042 - 23059   1042,00     23059,00     129,69  243790,98
1         1042 - 23022   1042,00     23022,00     131,86  246794,26
2         1042 - 23082   1042,00     23082,00     133,84  253806,62
3         1042 - 23083   1042,00     23083,00     136,44  252084,96
4         1042 - 23043   1042,00     23043,00     136,47  251192,38
...                ...       ...          ...        ...        ...
4241295  62067 - 25015  62067,00     25015,00     482,12  884264,20
4241296  62067 - 25014  62067,00     25014,00     482,59  875876,53
4241297  62067 - 25052  62067,00     25052,00     484,98  888212,30
4241298  62067 - 25044  62067,00     25044,00     485,53  883640,08
4241299  62067 - 25030  62067,00     25030,00     493,59  889017,90

[4241300 rows x 5 columns]

## POINT 4

In [138]:
#File 

#Defined the three main directions of visitors and commuter getting to Padova by the Italian highways 
#(sud: A13 toward Bologna-Roma / west: A4 toward Milano-Torino / north-east: A4 toward Venice-Trieste)
#evaluate which of the three directions has to be prioritized

#Consider a simplified case involving only the mid-range mobility, based on the number of visitors/commuters
#from the nearby regions only

In [137]:
def codici(codici_istat_provincia, capoluogo):
    cod_reg=codici_istat_provincia[codici_istat_provincia['PROVINCIA'] == capoluogo]['COD_REG'].values[0] #codice comune di Padova
    province=codici_istat_provincia[codici_istat_provincia['COD_REG'] == cod_reg]
    cod_all_prov=province['COD_PRO'].values[:]
    return cod_reg, province, cod_all_prov


#Veneto 
cod_reg_veneto, prov_veneto, cod_all_prov_veneto=codici(codici_istat_provincia, 'Venezia')
#print(province_veneto)
print("Region code of  Veneto: ",cod_reg_veneto)
print("Province codes of Veneto: ", cod_all_prov_veneto)
print("Code of Padua ", codici_istat_provincia[codici_istat_provincia['PROVINCIA']=='Padova']['COD_PRO'].values[0])
print("\n")

#Lombardia
cod_reg_lombardia, prov_lombardia, cod_all_prov_lombardia=codici(codici_istat_provincia, 'Milano')
#print(province_lombardia)
print("Region code of  Lombardia: ",cod_reg_lombardia)
print("Province codes of  Lombardia: ",cod_all_prov_lombardia)
print("\n")


#Emilia Romagna
cod_reg_er, prov_er, cod_all_prov_er=codici(codici_istat_provincia, 'Bologna')
#print(province_veneto)
print("Region code of Emilia Romagna: ",cod_reg_er)
print("Province codes of dell' Emilia Romagna: ", cod_all_prov_er)
print("\n")

#Friuli Venezia Giulia
cod_reg_friuli, prov_friuli, cod_all_prov_friuli=codici(codici_istat_provincia, 'Trieste')
#print(province_friuli)
print("Region code of Friuli Venezia Giulia: ", cod_reg_friuli)
print("Province codes of  Friuli Venezia Giulia: ", cod_all_prov_friuli)
print("\n")

Region code of  Veneto:  5
Province codes of Veneto:  [23 24 25 26 27 28 29]
Code of Padua  28


Region code of  Lombardia:  3
Province codes of  Lombardia:  [ 12  13  14  15  16  17  18  19  20  97  98 108]


Region code of Emilia Romagna:  8
Province codes of dell' Emilia Romagna:  [33 34 35 36 37 38 39 40 99]


Region code of Friuli Venezia Giulia:  6
Province codes of  Friuli Venezia Giulia:  [30 31 32 93]

In [150]:
#dataset di lavoro
print("\n")
data_day_od

#data_day_veneto=data_day_od[data_day_od['COD_PRO'].isin(cod_all_prov_veneto)]
#print(data_day_veneto)
#print(data_day_veneto.groupby(['FLOW']).sum())

def flow(data_day_od, cod_all_prov):
    flow_sum=data_day_od.groupby([data_day_od['COD_PRO'].isin(cod_all_prov)])['FLOW'].sum()
    return flow_sum[1] #true is the second one 

#Veneto #per averlo per ora non utile ai fine dell'analisi
flow_veneto=flow(data_day_od, cod_all_prov_veneto)
print("Flow Veneto: ",flow_veneto)

#Lombardia
flow_lombardia=flow(data_day_od, cod_all_prov_lombardia)
print("Flow Lombardia: ",flow_lombardia)

#Emilia Romagna
flow_er=flow(data_day_od, cod_all_prov_er)
print("Flow Emilia Romagna: ",flow_er)

#Friuli Venezia Giulia
flow_friuli=flow(data_day_od, cod_all_prov_friuli)
print("Flow Friuli Venezia Giulia: ",flow_friuli)

Flow Veneto:  20213829
Flow Lombardia:  186815
Flow Emilia Romagna:  89346
Flow Friuli Venezia Giulia:  80930